<nav class="navbar navbar-dark font-weight-bold homenav">
    <div class="navbar-brand"> 
         <span class="fa fa-2x fa-bars"></span>
         <span class="navmenu">
            <a routerLink="/home">Home</a>
         </span>
         <span class="navmenu">
            <a routerLink="/user">Users</a>
         </span>
         
    </div>
    <div class="navList">
        <a routerLink="/register" class="flex-item">
            Register
        </a>
        <a routerLink="/login" class="flex-item">
            Login
        </a>
   </div>
 
 </nav>

