<div class="fullpage">
    <div class="container-fluid">    

        
        <form  class="loginform col-md-4 col-sm-6 col-xs-10" #loginform="ngForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(loginform)">
            <p>{{loginform.value | json}}</p>
            <h3 class="login_head"> <span class="fa fa-user-circle">User Login</span></h3>
    
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" #username="ngModel"
                class="form-control" [(ngModel)]="formModel.username" required>
            </div>
           
            
            <div class="form-group">
                <input type="password" name="password" 
                 #password="ngModel" placeholder="Password"
                class="form-control" [(ngModel)]="formModel.password" required>
            </div>
            
            <button type="submit" [disabled]="loginform.invalid" class="btn btn-md btn-primary">Submit</button>
            <div>
                <a href="#">Forget password?</a>
            </div>
        </form>
    </div>
</div>
    
