/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// body { 
//     padding: 0; 
//     margin: 0; 
//     font-family: Roboto, sans-serif; 
    
//   }
//   .flex-spacer {
//     flex: row;
//   }

@import '_variables';
@import '../node_modules/font-awesome/scss/font-awesome';

// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css'
// @import '../node_modules/bootstrap/dist/css/bootstrap-theme.'
// @import '../node_modules/datatables.net/js/jquery.dataTables.js';
// @import '../node_modules/datatables.net-select/js/dataTables.select.js';
// @import '../node_modules/datatables.net-bs/css/dataTables.bootstrap.css';
// @import '../node_modules/datatables.net-select-bs/css/select.bootstrap.css';

.navList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.navList a{
  padding: 0 20px;
}
