.fullpage{
    background-color: rgb(223, 252, 185);
    height: 920px;
    padding-top: 40px;
    padding-left: 5%;
}
.registerform{
    background-color: pink;
    padding: 30px 40px;
    border: 0px;
    width: 40%;
    border-radius: 10px;
    margin: auto;
}
.registerform label{
    font-weight: bold;
}
.register_head{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}
