<div class="container-fluid fullpage">
    <div>
        <p class="text-center">{{registrationForm.value | json}}</p>
        <form  [formGroup]="registrationForm" class="registerform  col-md-6 col-sm-8 col-xs-10" (ngSubmit)="onSubmit()">
            <h3 class="register_head"> <span>Registration</span></h3>
    
            <div class="form-group required">
                <label>Username</label>
                <input formControlName="username" type="text" name="username" placeholder="Username" class="form-control">
                <div *ngIf="username.invalid && username.touched">
                    <small *ngIf="username.errors?.required" class="text-danger">Username is required.</small>
                    <small *ngIf="username.errors?.minlength" class="text-danger">Username must contain at least 3 characters.</small>
                    <small *ngIf="username.errors?.forbiddenName" class="text-danger">{{username.errors?.forbiddenName.value}} Username is not allowed</small>
                </div>
            </div>

            <div class="form-group required">
                <label>Email</label>
                <input formControlName="email" type="email" name="email" placeholder="Email" [class.is-invalid]="email.invalid && email.touched"
                  class="form-control">
                <div *ngIf="email.invalid && email.touched">
                    <small *ngIf="email.errors?.required" class="text-danger">Email is required.</small>
                    <small *ngIf="email.errors?.email" class="text-danger">Email is invalid.</small>                    
                </div>
            </div>

            <!-- <div class="form-group">
                <label>Phone</label>
                <button type="button" class="btn btn-secondary btn-sm ml-3" (click)="addAlternetPhone()">Add Phone</button>
                <input formControlName="phone" type="number" name="phone" placeholder="Contact No."  class="form-control" pattern="/\d{10}/">
                <div *ngIf="phone.invalid && phone.touched">
                    <small *ngIf="phone.errors?.required" class="text-danger">Phone No. is required.</small>               
                </div>
                <div [formArrayName]="alternetphone" *ngFor="let phone of alternetphone.controls; let i=index">
                    <input type="number" class="form-control my-1" placeholder="Contact No." [formControlName]="i">
                </div>
            </div> -->

            <div class="form-group required">
                <label>Password</label>
                <input formControlName="password" type="password" name="password" 
                placeholder="Password" pattern="[A-Za-z\d$@$!%*?&]{6,24}" class="form-control">
                <div *ngIf="password.invalid && password.touched">
                    <small *ngIf="password.errors?.required" class="text-danger">Password is required.</small>
                    <small *ngIf="password.errors?.pattern" class="text-danger">Password must contain at least 6 characters.</small>
                </div>
            </div>
            
            <div class="form-group required">
                <label>Confirm Password</label>
                <input formControlName="cpassword" type="password" name="cpassword" [class.is-invalid]="registrationForm.errors?.misMatch"
                placeholder="Confirm Password" pattern="[A-Za-z\d$@$!%*?&]{6,24}" class="form-control">
                <div *ngIf="cpassword.invalid && cpassword.touched || registrationForm.errors?.misMatch">
                    <small *ngIf="cpassword.errors?.required" class="text-danger">Confirmed Password is required.</small>
                    <small *ngIf="registrationForm.errors?.misMatch" class="text-danger">Password do not match.</small>
                </div>
            </div>

            <!-- <div class="form-group">
                <label>Category</label>
                <select class="custom-select form-control"  formControlname="category">
                    <option selected>Select Your Category</option>
                    <option *ngFor="let category of categories" [ngValue]="category"> {{category}} </option>
                </select> 
            </div> -->
<!-- 
            <div class="form-group">
                <label>Working Shift Preference</label>
                <div class="form-check">
                    <input formControlName="shift" type="radio" name="shift" class="form-check-input" value="day">
                    <label class="form-check-label">Day shift</label>
                </div>
                <div class="form-check">
                    <input formControlName="shift" type="radio" name="shift" class="form-check-input" value="night">
                    <label class="form-check-label">Night shift</label>
                </div>
                <div class="text-danger" *ngIf="shift.invalid && shift.touched">
                  Please select your preference
                </div>        
            </div> -->

            <!-- <div class="form-check">
                <input formControlName="emailUpdates" class="form-check-input" type="checkbox">
                <label>Send updates on email</label>
            </div> -->

          
            
            <button type="submit" [disabled]="registrationForm.invalid" class="btn btn-md btn-primary">Submit</button>
            <button type="button" class="btn btn-md btn-secondary" (click)="loadApiData()">Load Default Data</button>

        </form>
    </div>    
    
</div>
